%h3.sg-head= link_to('Text', index_url(url: 'molecules/text/index'))
= render('pages/molecules/text/index')

%h3.sg-head= link_to('Forms', index_url(url: 'molecules/forms/index'))
= render('pages/molecules/forms/index')

%h3.sg-head= link_to('Components', index_url(url: 'molecules/components/index'))
= render('pages/molecules/components/index')

%h3.sg-head= link_to('Navigation', index_url(url: 'molecules/navigation/index'))
= render('pages/molecules/navigation/index')

%h3.sg-head= link_to('Blocks', index_url(url: 'molecules/blocks/index'))
= render('pages/molecules/blocks/index')

%h3.sg-head= link_to('Media', index_url(url: 'molecules/media/index'))
= render('pages/molecules/media/index')

%h3.sg-head= link_to('Media', index_url(url: 'molecules/layout/index'))
= render('pages/molecules/layout/index')
