.sg-pattern
  %h4.sg-head.sg-sub
    = link_to( 'Unordered', index_url(url: 'atoms/lists/index') )
  = render( 'pages/atoms/lists/unordered' )

.sg-pattern
  %h4.sg-head.sg-sub
    = link_to( 'Ordered', index_url(url: 'atoms/lists/index') )
  = render( 'pages/atoms/lists/ordered' )

.sg-pattern
  %h4.sg-head.sg-sub
    = link_to( 'Definition', index_url(url: 'atoms/lists/index') )
  = render( 'pages/atoms/lists/definition' )
