.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Comment form', index_url(url: 'pages/molecules/forms/comment'))
  = render('pages/molecules/forms/comment')

.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Newsletter form', index_url(url: 'pages/molecules/forms/newsletter'))
  = render('pages/molecules/forms/newsletter')

.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Search form', index_url(url: 'pages/molecules/forms/search'))
  = render('pages/molecules/forms/search')
