.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Byline Author', index_url(url: 'molecules/text/byline_author'))
  = render('pages/molecules/text/byline_author')

.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Byline Author Time', index_url(url: 'molecules/text/byline_author_time'))
  = render('pages/molecules/text/byline_author_time')

.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Caption', index_url(url: 'molecules/text/caption'))
  = render('pages/molecules/text/caption')

.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Blockquote w/citation', index_url(url: 'molecules/text/blockquote_with_citation'))
  = render('pages/molecules/text/blockquote_with_citation')

.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Pullquote', index_url(url: 'molecules/text/pullquote'))
  = render('pages/molecules/text/pullquote')

.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Heading group', index_url(url: 'molecules/text/heading_group'))
  = render('pages/molecules/text/heading_group')

.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Intro text', index_url(url: 'molecules/text/intro_text'))
  = render('pages/molecules/text/intro_text')

.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Emphasis colors', index_url(url: 'molecules/text/emphasis_colors'))
  = render('pages/molecules/text/emphasis_colors')

.sg-pattern
  %h4.sg-head.sg-sub
    = link_to('Address', index_url(url: 'molecules/text/address'))
  = render('pages/molecules/text/address')
