%div.sg-main.g-wrapper{ role: 'main' }
  -# Patterns
  %div#patterns.g-row
    %section.g-col-12
      %h2.sg-head
        = link_to('Atoms', index_url(url: 'atoms/index'))
      = render('pages/atoms/index')
    %section.g-col-12
      %h2.sg-head
        = link_to('Molecules', index_url(url: 'molecules/index'))
      = render('pages/molecules/index')
    %section.g-col-12
      %h2.sg-head
        = link_to('Organisms', index_url(url: 'organism/index'))
      = render('pages/organisms/index')
