.sg-pattern
  %h4.sg-head.sg-sub= link_to('Square', index_url(url: 'atoms/images/square'))
  = render('pages/atoms/images/square')

.sg-pattern
  %h4.sg-head.sg-sub= link_to('Avatar', index_url(url: 'atoms/images/avatar'))
  = render('pages/atoms/images/avatar')

.sg-pattern
  %h4.sg-head.sg-sub= link_to('Landscape', index_url(url: 'atoms/images/landscape'))
  = render('pages/atoms/images/landscape')

.sg-pattern
  %h4.sg-head.sg-sub= link_to('Logo', index_url(url: 'atoms/images/logo'))
  = render('pages/atoms/images/logo')
