.sg-pattern
  %h4.sg-head.sg-sub= link_to('Primary nav', index_url(url: 'molecules/navigation/primary_nav'))
  = render('pages/molecules/navigation/primary_nav')

.sg-pattern
  %h4.sg-head.sg-sub= link_to('Footer nav', index_url(url: 'molecules/navigation/footer_nav'))
  = render('pages/molecules/navigation/footer_nav')

.sg-pattern
  %h4.sg-head.sg-sub= link_to('Pagination', index_url(url: 'molecules/navigation/pagination'))
  = render('pages/molecules/navigation/pagination')
