%h1= link_to( 'Heading 1 w/link', '#' );
%h2= link_to( 'Heading 2 w/link', '#' );
%h3= link_to( 'Heading 3 w/link', '#' );
%h4= link_to( 'Heading 4 w/link', '#' );
%h5= link_to( 'Heading 5 w/link', '#' );
%h6= link_to( 'Heading 6 w/link', '#' );
