= render( 'pages/atoms/text/headings' )
= render( 'pages/atoms/text/headings_links' )
= render( 'pages/atoms/text/headings_small' )
= render( 'pages/atoms/text/subheadings' )
= render( 'pages/atoms/text/paragraph' )
