.sg-pattern
  %h4.sg-head.sg-sub= link_to('Header', index_url(url: 'organisms/global/header'))
  = render('pages/organisms/global/header')

.sg-pattern
  %h4.sg-head.sg-sub= link_to('Footer', index_url(url: 'organisms/global/footer'))
  = render('pages/organisms/global/footer')

.sg-pattern
  %h4.sg-head.sg-sub= link_to('Article body', index_url(url: 'organisms/article/article_body'))
  = render('pages/organisms/article/article_body')
