%h4.sg-head.sg-sub= link_to('1 col', index_url(url: 'molecules/layout/one_col'))
= render('pages/molecules/layout/one_col')

%h4.sg-head.sg-sub= link_to('2 col', index_url(url: 'molecules/layout/two_col'))
= render('pages/molecules/layout/two_col')

%h4.sg-head.sg-sub= link_to('3 col', index_url(url: 'molecules/layout/three_col'))
= render('pages/molecules/layout/three_col')

%h4.sg-head.sg-sub= link_to('4 col', index_url(url: 'molecules/layout/four_col'))
= render('pages/molecules/layout/four_col')

%h4.sg-head.sg-sub= link_to('1 col nested', index_url(url: 'molecules/layout/one_col_nested'))
= render('pages/molecules/layout/one_col_nested')

%h4.sg-head.sg-sub= link_to('2 col nested', index_url(url: 'molecules/layout/two_col_nested'))
= render('pages/molecules/layout/two_col_nested')
