%h3.sg-head= link_to('Global', index_url(url: 'atoms/global/index'))
= render('pages/atoms/global/index')

%h3.sg-head= link_to('Text', index_url(url: 'atoms/text/index'))
= render('pages/atoms/text/index')

%h3.sg-head= link_to('Lists', index_url(url: 'atoms/lists/index'))
= render( 'pages/atoms/lists/index')

%h3.sg-head= link_to('Buttons', index_url(url: 'atoms/buttons/index'))
= render('pages/atoms/buttons/index')

%h3.sg-head= link_to('Tables', index_url(url: 'atoms/tables/index'))
= render('pages/atoms/tables/index')

%h3.sg-head= link_to('Media', index_url(url: 'atoms/media/index'))
= render('pages/atoms/media/index')

%h3.sg-head= link_to('Images', index_url(url: 'atoms/images/index'))
= render('pages/atoms/images/index')
