:ruby
  navigation = {
    atoms: {
      global: [:colors, :fonts, :animations, :visibility],
      text: [:headings, :subheadings, :headings_with_links, :paragraph, :blockquote, :inline_elements, :time, :preformatted_text, :emphasis_colors, :hr, :caption],
      lists: [:unordered, :ordered, :definition],
      images: [:logo, :landscape_4x3, :landscape_16x9, :square, :avatar, :icons, :loading_icon, :favicon],
      forms: [:text_fields, :select_menu, :checkbox, :radio_buttons, :html5_inputs],
      buttons: [:buttons],
      tables: [:table],
      media: [:video, :audio]
    },
    molecules: {
      text:[:byline_author, :byline_author_time, :address, :heading_group, :blockquote_with_citation, :intro_text, :pullquote],
      layout:[:one_up, :two_up, :three_up, :four_up],
      blocks:[:media_block, :headline_byline, :hero, :thumb_headline, :headline_only, :inset_block],
      media: [:figure_with_caption],
      forms: [:search, :comment, :newsletter],
      navigation: [:primary_nav, :footer_nav, :breadcrumbs, :pagination, :tabs],
      components: [:sharingbar, :accordion, :single_comment]
    },
    organisms: {
      global: [:header, :footer],
      article: [:article_body],
      comments: [:comment_thread],
      components: [:carousel],
      sections: [:latest_posts, :recent_tweets, :related_posts]
    },
    taxa: {
      homepage: [],
      article: []
    },
    pages: {
      artile: [:page],
      home: [:page]
    }
  }

!!!
%html.no-js{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }/
    %meta{ 'http-equiv' => "X-UA-Compatible", content: "IE=edge" }/

    %title Stencil Pattern Lab

    %meta{ name: "description", content: "Boilerplate for layouts and styles" }/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }/
    = csrf_meta_tags

    = stylesheet_link_tag( 'application', media: 'all', data: { 'turbolinks-track' => true } )
    = javascript_include_tag( 'modernizr' )

  %body.sg-nav-wrapper
    /[if lte IE 7]
      %p.browsehappy
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.

    %header.sg-header{ role: 'banner' }
      = link_to( 'Menu', '#sg-nav-container', class: 'sg-nav-toggle' )
      #sg-nav-container.sg-nav-container
        %ol.sg-nav{ role: 'navigation' }
          %li= link_to('Home', index_url, class: 'home')
          - navigation.each do |key, subnav|
            %li{:class => "sg-nav-#{key.to_s}"}
              = link_to(key.to_s.titlecase, index_url(:url => key.to_s), class: 'sg-acc-handle')
              %ol.sg-acc-panel
                - subnav.each do |subnav_key, subnav_subnav|
                  - unless subnav_subnav.empty?
                    %li{:class => "sg-nav-#{subnav_key.to_s}"}
                      = link_to(subnav_key.to_s.titlecase, index_url(:url => "#{key.to_s}/#{subnav_key}"), class: 'sg-acc-handle')
                      %ol.sg-acc-panel
                        - subnav_subnav.each do |subnav_subnav_key|
                          %li= link_to(subnav_subnav_key.to_s.titlecase, index_url(:url => "#{key.to_s}/#{subnav_key}/#{subnav_subnav_key}"), class: 'sg-pop')
                        %li= link_to('View All', index_url(:url => "#{key.to_s}/#{subnav_key}/index"), class: 'sg-pop')
                  - else
                    %li= link_to(subnav_key.to_s.titlecase, index_url(:url => "#{key.to_s}/#{subnav_key}"), class: 'sg-pop')
                - unless [:taxa, :pages].include?(key)
                  %li= link_to('View All', index_url(:url => "#{key.to_s}/index"), class: 'sg-pop')
      #sg-controls.sg-controls
        .sg-control-content
          %ul.sg-control
            %li.sg-size
              .sg-current-size
                %form#sg-form
                  %input.sg-input.sg-size-px{ type: 'text', value: 320 }
                  px /
                  %input.sg-input.sg-size-em{ type: 'text', value: 20 }
                  em
              %ul.sg-acc-panel.sg-size-options
                %li.sg-quarter= link_to( 'S', '#', id: 'sg-size-s' )
                %li.sg-quarter= link_to( 'M', '#', id: 'sg-size-m' )
                %li.sg-quarter= link_to( 'L', '#', id: 'sg-size-l' )
                %li.sg-quarter= link_to( 'XL', '#', id: 'sg-size-xl' )
                %li.sg-half= link_to( 'Full', '#', id: 'sg-size-full' )
                %li.sg-half= link_to( 'Random', '#', class: 'mode-link', id: 'sg-size-disco' )
                %li.sg-half= link_to( 'Hay!', '#', class: 'mode-link', id: 'sg-size-hay' )

    #sg-vp-wrap
      #sg-cover
      #sg-gen-container
        = yield
        #sg-rightpull-container
          #sg-rightpull

    = javascript_include_tag( 'application', data: { 'turbolinks-track' => true } )
