!!!
%html.no-js{ lang: "en" }
  %head
    %meta{ charset: "utf-8" }/
    %meta{ 'http-equiv' => "X-UA-Compatible", content: "IE=edge" }/

    %title Stencil Pattern Lab

    %meta{ name: "description", content: "Boilerplate for layouts and styles" }/
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1" }/
    = csrf_meta_tags

    = stylesheet_link_tag('application', media: 'all', data: { 'turbolinks-track' => true })
    = javascript_include_tag('modernizr')

  %body.sg-nav-wrapper
    /[if lte IE 7]
      %p.browsehappy
        You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.

    = render('layouts/header')

    #sg-vp-wrap
      #sg-cover
      #sg-gen-container
        = yield
        #sg-rightpull-container
          #sg-rightpull

    = javascript_include_tag( 'application', data: { 'turbolinks-track' => true } )
